<div class="row find-controls">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label>Факультет</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Курс</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Группа</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Неделя</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Ok</button>
    </form>
</div>
<hr />
<p></p>
<div class="row">
    <table class="table table-hover table-striped table-condensed table-bordered text-center">
        <thead>
            <tr>
                <th></th>
                <th>Понедельник</th>
                <th>Вторник</th>
                <th>Среда</th>
                <th>Четверг</th>
                <th>Пятница</th>
                <th>Суббота</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8:05 - 9:35</td>
            </tr>
            <tr>
                <td>8:05 - 9:35</td>
            </tr>
            <tr>
                <td>8:05 - 9:35</td>
            </tr>
            <tr>
                <td>8:05 - 9:35</td>
            </tr>
            <tr>
                <td>8:05 - 9:35</td>
            </tr>
            <tr>
                <td>8:05 - 9:35</td>
            </tr>

        </tbody>
    </table>
</div>