<div class="row find-controls animated zoomInUp">
    <form class="form-inline" role="form">
        <div class="form-group">
            <label>Факультет</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Курс</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Группа</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Неделя</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Ok</button>
    </form>
</div>
<hr />
<p></p>
<div class="row animated fadeIn">
    <table class="table table-hover table-striped table-condensed table-bordered text-center">
        <thead>
            <tr>
                <th></th>
                <th class="animated fadeInDown">Понедельник</th>
                <th class="animated fadeInDown">Вторник</th>
                <th class="animated fadeInDown">Среда</th>
                <th class="animated fadeInDown">Четверг</th>
                <th class="animated fadeInDown">Пятница</th>
                <th class="animated fadeInDown">Суббота</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="animated zoomIn">8:05 - 9:35</td>
            </tr>
            <tr>
                <td class="animated zoomIn">8:05 - 9:35</td>
            </tr>
            <tr>
                <td class="animated zoomIn">8:05 - 9:35</td>
            </tr>
            <tr>
                <td class="animated zoomIn">8:05 - 9:35</td>
            </tr>
            <tr>
                <td class="animated zoomIn">8:05 - 9:35</td>
            </tr>
            <tr>
                <td class="animated zoomIn">8:05 - 9:35</td>
            </tr>

        </tbody>
    </table>
</div>