@using Scheduler.Models
@model dynamic

@{
    ViewBag.Title = "Список занятий";
    var db = (Db)ViewBag.Db;
}

<table class="table">
    <thead>
        <tr>
            <th>Факультет</th>
            <th>Курс</th>
            <th>Группа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in db.AdminModels.Include("Faculty").Include("Course").Include("Group")/*.GroupBy(model => model.Group)*/)
        {
        <tr>
            <td>@item.Faculty.Name</td>
            <td>@item.Course.Name</td>
            <td>@item.Group.Name</td>
        </tr>
        }
    </tbody>
</table>