<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=charset=UTF-8">
    <link rel="stylesheet" href="/content/bootstrap.min.css">
    <style type="text/css">
        body {
            background-color: #fff;
        }

        .centered-form {
            margin-top: 60px;
        }

            .centered-form .panel {
                background: rgba(255, 255, 255, 0.8);
                box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 25px;
            }
    </style>
</head>

<body>
    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Регистрация в системе "Расписание 2.0" <small>beta</small></h3>
                    </div>
                    <div class="panel-body">
                        <form method="POST" role="form">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="FirstName" id="first_name" class="form-control input-sm" onkeypress=" CheckValues()" onfocus=" CheckValues()" onkeyup=" CheckValues()" placeholder="Имя">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="LastName" id="last_name" class="form-control input-sm" onkeypress=" CheckValues()" onfocus=" CheckValues()" onkeyup=" CheckValues()" placeholder="Фамилия">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="email" name="Email" id="email" class="form-control input-sm" onkeypress=" CheckValues()" onfocus=" CheckValues()" onkeyup=" CheckValues()" placeholder="Email адрес">
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="Password" id="password" class="form-control input-sm" onkeypress=" CheckValues()" onfocus=" CheckValues()" onkeyup=" CheckValues()" placeholder="Пароль">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="PasswordConfirmation" onkeypress="CorrectPass('password_confirmation')" onfocus="CorrectPass('password_confirmation')"
                                               onkeyup="CorrectPass('password_confirmation')" id="password_confirmation" class="form-control input-sm" placeholder="Повторите пароль">
                                    </div>
                                </div>
                            </div>
                            
                            <script>
                                function CorrectPass(item) {
                                    var passValue = document.getElementById('password').value;
                                    if (document.getElementById(item).value != passValue) {
                                        document.getElementById('incorrect').innerHTML = 'Пароли должны совпадать!';
                                    } else {
                                        document.getElementById('incorrect').innerHTML = '';
                                    }
                                    CheckValues();
                                }

                                function CheckValues() {
                                    if (document.getElementById('first_name').value != '' && document.getElementById('last_name').value != '' && document.getElementById('email').value != '' && document.getElementById('password').value != '' && document.getElementById('password_confirmation').value != '' && document.getElementById('incorrect').innerHTML == '') {
                                        document.getElementById('submit').disabled = false;
                                    } else {
                                        document.getElementById('submit').disabled = true;
                                    }
                                }
                            </script>

                            <strong class="text-center" id="incorrect" style="padding-left: 65px; color: red;"></strong>
                            
                            <input type="submit" value="Регистрация" id="submit" class="btn btn-info btn-block" disabled>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
